@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --color-background: #fff;
    --color-background-secondary: #454545;
    --color-primary: #4051B0;
    --color-secondary: #EBD560;
    --font-black: #000;
    --font-white: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-background-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
}

.website-wrapper {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 1vw;
    width: 40rem;
    z-index: 9999;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 3rem;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    text-decoration: none;
    /* opacity: 75%; */
    box-shadow: 5px 5px 15px var(--font-black);
    transition: all .3s;
}

header:hover {
    opacity: 100%;
}

.header-onscroll {
    opacity: 75%;
}

header a {
    text-decoration: none;
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    color: black;
    transition: all .3s;
}

header a:hover {
    transform: translateY(-3px);
    background-color: var(--color-primary);
    color: var(--font-white);
    border-radius: 15px;
}

header img {
    width: 80px;
}

.active {
    border: 2px solid var(--color-primary);
}

.hero-section {
    position: relative;
    top: 0;
    color: var(--font-white);
    height: 47vw;
}

#hero-background {
    /* position: absolute; */
    user-select: none;
    width: 100vw;
    height: auto;
    position: absolute;
    z-index: -1;
}

.hero-title {
    display: flex;
    flex-direction: column;
    padding-left: calc(2.5vw + .2rem);
    position: absolute;
    margin-top: 10vw;
    min-height: 100px;
}

.hero-title h2 {
    font-weight: 300;
    font-size: calc(2vw + .2rem);
    line-height: 75%;
    margin: 0;
}

.hero-title h1 {
    font-weight: bolder;
    font-size: clamp(1.5rem, 4vw, 40rem);
    text-wrap: nowrap;
    line-height: 100%;
    margin: 0;
}

.hero-title h1 span {
    color: var(--color-primary);
    -webkit-text-stroke: 2px #fff;
}

.hero-title a {
    margin-top: calc(2vw + .3rem);
    font-size: 1.2vw;
    background: var(--color-primary);
    background: linear-gradient(135deg, rgba(64, 81, 176, 1) 55%, rgba(255, 229, 22, 1) 100%);
    color: var(--font-white);
    text-decoration: none;
    width: calc(8vw + .5rem);
    text-align: center;
    padding: calc(1vw + .1rem);
    border-radius: 1vw;
    transition: all .2s;
    background-size: 100% 400%;
    background-position: 100% 0%;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 25%);
}

.hero-title a:hover {
    border-radius: 1.5vw;
    background-position: 100% 50%;
}

.servizi-section {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.servizi-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 6rem;
}

.servizio-card {
    width: 198px;
    justify-content: center;
    text-align: center;
    position: relative;
    box-shadow: 0px 8px 50px 6px rgba(0, 0, 0, 25%);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: all .3s;
    margin-bottom: 5rem;
}

.servizio-card:hover {
    background-color: var(--color-background-secondary);
    color: var(--font-white);
}

/* .card-simulatore:hover {
    background-image: url("../imgs/servizi/ready2go.svg");
    background-position: center;
} */

.servizio-card img {
    position: absolute;
    top: -51px;
    left: 0;
    width: 198px;
}

.servizio-card-text {
    margin-top: 4.5rem;
    padding: 0 .5rem;
}

.servizio-card h1 {
    font-size: 1.25rem;
    line-height: 50%;
}

.servizio-card p {
    margin-top: 1.25rem;
    font-size: .9rem;
    margin-bottom: 1.5rem;
    line-height: 125%;
}





/* .sections-container {
    position: relative;
} */

.custom-shape-divider-top-1716672411 {
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    position: relative;
    user-select: none;
}

.custom-shape-divider-top-1716672411 svg {
    position: relative;
    display: block;
    width: calc(149% + 1.3px);
    height: 235px;
}

.custom-shape-divider-top-1716672411 .shape-fill {
    fill: #FFFFFF;
}

.section-left {
    position: relative;
    height: 50rem;
    overflow: visible;
}

.section-right {
    height: 30rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.section-left {
    background-color: var(--color-primary);
}

.section-left .section-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
}

.section-left .section-content p,
.section-right .section-content p {
    padding: 2rem;
}

.section-left .section-content img {
    width: 50vw;
    /* margin-top: 2rem; */
}

.section-right .section-content img {
    width: 50vw;
    padding-top: 10rem;
    z-index: 100;
}

#image-macchina {
    position: absolute;
    top: -15rem;
    width: 50vw;
    z-index: 100;

}

.section-right .section-content {
    float: right;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
}

.section-left .section-content p {
    text-align: left;
    width: 40vw;
}

.section-right .section-content p {
    text-align: right;
    width: 42vw;
    color: black;
}

#image-simulatore {
    width: 30vw;
}

.wave-bottom-white {
    bottom: 0;
    position: absolute;
    width: 100vw;
    user-select: none;
}



.maps-section {
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
}

.maps-section h1 {
    margin-bottom: 3rem;
}

.maps-section iframe {
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0px 8px 50px 6px rgba(0, 0, 0, 25%);
    user-select: none;
    transition: all .3s;
}

.maps-section iframe:hover {
    border-radius: 20px;
    user-select: none;
}












footer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.contatti-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.contatti-logo {
    text-align: center;
    margin-inline: auto;
}

.contatti-logo img {
    width: 25vw;
}

.contact-info {
    background-color: var(--color-primary);
    width: 43.33vw;
    border-top-left-radius: 20px;
    /* border-bottom-left-radius: 20px; */
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.items {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.contact-item a {
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: white;
    margin-left: -24px;
    transition: all .3s;
    width: fit-content;
    border-radius: 40px;
    padding-right: 24px;
}

.contact-item a:hover {
    background-color: var(--color-secondary);
    color: black;
    transform: translateY(-3px);
}

.contact-item a span {
    margin-left: .5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contact-info .contact-item img {
    width: 48px;
}

.legal-stuff {
    padding: 5rem 0;
    background-color: var(--color-primary);
    text-align: center;
}

/* footer {
    border: 3px solid red;
} */











/* 
footer {
    background-color: var(--color-primary);
} */



/* .section-left .section-text {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    background-color: var(--color-primary);
    height: 40rem;
}

.section-text-right {
    color: black;
    background-color: white;
}

.section-text-left p, .section-text-right p {
    padding: 0 5rem;
}

.section-text {
    width: 60vw;
    padding-bottom: 100rem;
    height: 100%;
}

.left {
    text-align: left;
}

.wave-bottom-white {
    width: 100vw;
    bottom: 0;
    position: absolute;
} */


.test-spacer {
    height: 200rem;
}