@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

:root {
    --color-background: #fff;
    --color-background-secondary: #454545;
    --color-primary: #4051B0;
    --color-secondary: #FFE516;
    --font-black: #000;
    --font-white: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
}

.website-wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 1vw;
    width: 40rem;
    z-index: 9999;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 3rem;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    text-decoration: none;
    opacity: 75%;
    box-shadow: 5px 5px 15px var(--font-black);
    transition: all .3s;
}

.header:hover {
    opacity: 100%;
}

.header a {
    text-decoration: none;
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    color: #000;
    transition: all .3s;
}

.header a:hover {
    transform: translateY(-3px);
    background-color: var(--color-primary);
    color: var(--font-white);
    border-radius: 15px;
}

.header img {
    width: 80px;
}

#current {
    border: 2px solid var(--color-primary);
}

.hero-section {
    position: relative;
    top: 0;
    color: var(--font-white);
    height: 47vw;
}

#hero-background {
    /* position: absolute; */
    user-select: none;
    width: 100vw;
    height: auto;
    position: absolute;
    z-index: -1;
}

.hero-title {
    display: flex;
    flex-direction: column;
    padding-left: calc(2.5vw + .2rem);
    position: absolute;
    margin-top: 10vw;
    min-height: 100px;
}

.hero-title h2 {
    font-weight: 300;
    font-size: calc(2vw + .2rem);
    line-height: 75%;
    margin: 0;
}

.hero-title h1 {
    font-weight: bolder;
    font-size: clamp(1.5rem, 4vw, 40rem);
    text-wrap: nowrap;
    line-height: 100%;
    margin: 0;
}

.hero-title h1 span {
    color: var(--color-primary);
    -webkit-text-stroke: 2px #fff;
}

.hero-title a {
    margin-top: calc(2vw + .3rem);
    font-size: 1.2vw;
    background: var(--color-primary);
    background: linear-gradient(135deg, rgba(64, 81, 176, 1) 55%, rgba(255, 229, 22, 1) 100%);
    color: var(--font-white);
    text-decoration: none;
    width: calc(8vw + .5rem);
    text-align: center;
    padding: calc(1vw + .1rem);
    border-radius: 1vw;
    transition: all .2s;
    background-size: 100% 400%;
    background-position: 100% 0%;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 25%);
}

.hero-title a:hover {
    border-radius: 1.5vw;
    background-position: 100% 50%;
}

.servizi-section {
    text-align: center;
    margin-top: 5rem;
}

.servizi-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 6rem;
}

.servizio-card {
    width: 198px;
    justify-content: center;
    text-align: center;
    position: relative;
    box-shadow: 0px 8px 50px 6px rgba(0, 0, 0, 25%);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: all .3s;
    margin-bottom: 5rem;
}

.servizio-card:hover {
    background-color: var(--color-background-secondary);
    color: var(--font-white);
}

#card-simulatore:hover {
    background-image: url("../imgs/servizi/ready2go.svg");
    background-position: center;
}

.servizio-card img {
    position: absolute;
    top: -51px;
    left: 0;
    width: 198px;
}

.servizio-card-text {
    margin-top: 4.5rem;
    padding: 0 .5rem;
}

.servizio-card h1 {
    font-size: 1.25rem;
    line-height: 50%;
}

.servizio-card p {
    margin-top: 1.25rem;
    font-size: .9rem;
    margin-bottom: 1.5rem;
    line-height: 125%;
}















.test-spacer {
    height: 200rem;
}